@{
    ViewBag.Title = "Orleans Orniscient Dashboard";
}
<div id="dashboard" class="container-fluid" style="height: 100%"></div>
<a href="@Url.Action("Disconnect", "Dashboard")" class="disconnect-btn btn btn-primary">Disconnect</a>
@section scripts {
    <script src="~/js/dash.min.js"></script>

    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>

    <!--These JS files cannot be minified and bundled-->
    <script src="~/lib/classnames/index.js"></script>
    <script src="~/js/react-input-autosize.js"></script>
    <script src="~/js/react-select.js"></script>

    <script src="~/js/Dashboard/DashboardTypeCounts.jsx"></script>
    <script src="~/js/Dashboard/DashboardTypeFilter.jsx"></script>
    <script src="~/js/Dashboard/DashboardTypeFilterList.jsx"></script>
    <script src="~/js/Dashboard/DashboardGrainMethodParameters.jsx"></script>
    <script src="~/js/Dashboard/DashboardGrainMethodReturnData.jsx"></script>
    <script src="~/js/Dashboard/Dashboard.jsx"></script>
    <!-- Render the code to initialise the component -->
    @Html.ReactInitJavaScript();
}

