@{
    ViewBag.Title = "Orleans Orniscient Dashboard";
}
<div id="dashboard" class="container-fluid" style="height: 100%"></div>
@Html.ActionLink("Disconnect", "Disconnect", "Dashboard", new { @class = "disconnect-btn btn btn-primary" })
@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/SignalR/signalr-client-1.0.0-alpha2-final.js"></script>
    <script src="~/js/orniscient.js"></script>
    <script src="~/js/orniscientutils.js"></script>

    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>

    <script src="~/lib/classnames/index.js"></script>
    <script src="~/js/react-input-autosize.js"></script>

    <script src="~/js/react-select.js"></script>

    <script src="~/js/Dashboard/DashboardTypeCounts.jsx" type="text/babel"></script>
    <script src="~/js/Dashboard/DashboardTypeFilter.jsx" type="text/babel"></script>
    <script src="~/js/Dashboard/DashboardTypeFilterList.jsx" type="text/babel"></script>
    <script src="~/js/Dashboard/DashboardGrainMethodParameters.jsx" type="text/babel"></script>
    <script src="~/js/Dashboard/DashboardGrainMethodReturnData.jsx" type="text/babel"></script>
    <script src="~/js/Dashboard/Dashboard.jsx" type="text/babel"></script>
}
<!-- Render the code to initialise the component -->
@Html.ReactInitJavaScript()